<a href="https://colab.research.google.com/github/namratha86/Namratha_Python_Basic/blob/main/DataStructuresList.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Declare a list consisting of elements of different data type.
Access the elements using the index starting from 0

In [ ]:
my_list = [1, 2, 3, 'hello', 'world', True, [4, 5, 6]]
print(my_list[0])
print(my_list[1])

1
2

Slicing element - access a subset of the elements from the list

In [ ]:
print(my_list[0:3])
print(my_list[2:5])
print(my_list[4:7])

[1, 2, 3]
[3, 'hello', 'world']
['world', True, [4, 5, 6]]

Modify elements in the list

In [ ]:
my_list[1] = 10 #Change the value of second element to 10
my_list[1]

10

Add elements into the list using append()

In [ ]:
my_list.append(7)
print(my_list)
my_list.append('Test Append')
print(my_list)

[1, 10, 3, 'hello', 'world', True, [4, 5, 6], 7, 7]
[1, 10, 3, 'hello', 'world', True, [4, 5, 6], 7, 7, 'Test Append']

Remove elements from list. It removes the first occurrence of the element fromt the list

In [ ]:
my_list.remove('hello')
print(my_list)

[1, 10, 3, 'world', True, [4, 5, 6], 7, 7, 'Test Append']

In [ ]:
my_list.remove(7) #removes the first occurrence of 7 from my_list
print(my_list)

[1, 10, 3, 'world', True, [4, 5, 6], 'Test Append', 7]

In [ ]:
my_list = [1,2,3,4,5]
my_list[3:]

[4, 5]

In [ ]:
my_list[0:6:3]

[1, 4]

In [ ]:
my_list[0:6:2]

[1, 3, 5]

In [ ]:
my_list[::2]

[1, 3, 5]

In [ ]:
myList = list(range(100))

In [ ]:
myList[::10]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [ ]:
myList[::-10]

[99, 89, 79, 69, 59, 49, 39, 29, 19, 9]

In [ ]:
my_list.append(6)
print(my_list)

[1, 2, 3, 4, 5, 6]

In [ ]:
my_list.insert(4, 'Here')
print(my_list)

[1, 2, 3, 4, 'Here', 'Here', 5, 6]

In [ ]:
my_list.remove('Here')

In [ ]:
print(my_list)

[1, 2, 3, 4, 'Here', 5, 6]

In [ ]:
a = [1,2,3,4,5]
b = a
a.append(6)
print(b)

[1, 2, 3, 4, 5, 6]

In [ ]:
a = [1,2,3,4,5]
b = a.copy()
a.append(6)
print(a)
print(b)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5]