<a href="https://colab.research.google.com/github/namratha86/Namratha_Python_Basic/blob/main/EMICalculator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def loan_emi(amount):
  emi = amount / 12
  print("The EMI is ${}".format(emi))

loan_emi(50000)

The EMI is $4166.666666666667

In [2]:
def loan_emi(amount, duration):
  emi = round((amount / duration), 2)
  print("The EMI is ${}".format(emi))

In [3]:
loan_emi(500000, 1 * 12)

The EMI is $41666.67

In [5]:
loan_emi(500000, 2 * 12)

The EMI is $20833.33

In [6]:
def loan_emi(amount, duration):
  emi = round((amount / duration), 2)
  return emi

In [7]:
emi1 = loan_emi(500000, 1*12)

In [9]:
emi2 = loan_emi(500000, 2*12)

In [10]:
emi1

41666.67

In [11]:
emi2

20833.33

Optional Arguments

In [12]:
def loan_emi(amount, duration, down_payment=0):
  loan_amt = amount - down_payment
  emi = round((loan_amt / duration), 2)
  return emi

In [14]:
emi1 = loan_emi(500000, 1*12, 100000)
emi1

33333.33

add rate of interest in the calculation

In [29]:
def loan_emi(amount, rate, duration, down_payment=0):
  loan_amt = amount - down_payment
  emi = loan_amt * rate * ((1 + rate)**duration) / (((1 + rate) ** duration) - 1)
  return emi

In [30]:
loan_emi(500000, 0.1/12, 1 * 12, 100000)

35166.35489200396

In [18]:
loan_emi(500000, 0.08/12, 1*12, 100000)

34795.371634168805

Named Arguments

In [22]:
 emi3 = loan_emi(
     amount = 500000,
     rate = 0.1/12,
     duration = 1 *12,
     down_payment = 0
  )

In [23]:
emi3

43957.94361500495

Module and Library function

In [31]:
import math
def loan_emi(amount, rate, duration, down_payment=0):
  loan_amt = amount - down_payment
  emi = loan_amt * rate * ((1 + rate)**duration) / (((1 + rate) ** duration) - 1)
  emi = math.ceil(emi)
  return emi

In [32]:
emi3 = loan_emi(
     amount = 500000,
     rate = 0.1/12,
     duration = 1*12,
     down_payment = 100000
  )

emi3

35167

In [37]:
emi2 = loan_emi(amount=500000,rate=0.1/12, duration=1*12)
emi2

43958

In [40]:
if emi3 < emi2:
  print("Option 1 has a lower EMI: ${}".format(emi3))
else:
  print("Option 2 has a lower EMI: ${}".format(emi2))

Option 1 has a lower EMI: $35167

Using the Function

In [41]:
house_cost = 800000
down_payment = 0.25 * house_cost
loan_duration = 6 * 12
interest_rate = 0.07/12

house_emi = loan_emi(house_cost, interest_rate, loan_duration, down_payment)
print("House EMI: ${}".format(house_emi))

House EMI: $10230

In [45]:
car_cost = 60000
loan_duration = 1*12
rate_interest_car = 0.12/12

car_emi = loan_emi(amount=car_cost, rate=rate_interest_car, duration=loan_duration)
print("Car EMI: ${}".format(car_emi))

Car EMI: $5331

In [46]:
print("Shaun makes a total monthly payment of ${} towards the car and house loan repayment.".format(house_emi+car_emi))

Shaun makes a total monthly payment of $15561 towards the car and house loan repayment.